@model IEnumerable<_146247148111.TVApp.Interfaces.ITV>

@{
	ViewData["Title"] = "TV Catalog";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="..\wwwroot\css\site.css">
</head>

<body>
	<div class="container-fluid">
		<h1>TV Catalog</h1>

		<p>
			<a method="get" asp-action="CreateTV" class="btn btn-primary">Create New</a>
		</p>
		<div class="row">

			<div class="col-md-3">
				<form asp-controller="Home" asp-action="SearchTvs" method="get" class="form-row">
					<div class="form-group col-8">
						<input placeholder="Search TV" type="text" id="Keywords" name="Keywords" class="form-control" />
					</div>
					<div class="form-group col-4 text-end">
						<button type="submit" class="btn btn-primary ml-2">Search</button>

					</div>
				</form>
			</div>

			<div class="col-md-3">
				<form asp-controller="Home" asp-action="FilterTvsByProducer" method="get" class="form-row d-flex align-items-center">
					<div class="form-group col-md-8">
						<select name="producer" asp-items="@ViewBag.ProducerNames" class="form-control">
							<option value="" hidden>Filter by producer</option>
						</select>
					</div>
					<div class="form-group col-md-4 text-end">
						<button type="submit" class="btn btn-primary">Filter</button>
					</div>
				</form>
			</div>

			<div class="col-md-3">
				<form asp-controller="Home" asp-action="FilterTvsByScreenSize" method="get" class="form-row d-flex align-items-center">
					<div class="form-group col-md-4">
						<input placeholder="Min" type="number" id="minSize" name="minSize" class="form-control" />
					</div>
					<div class="form-group col-md-4">
						<input placeholder="Max" type="number" id="maxSize" name="maxSize" class="form-control" />
					</div>
					<div class="form-group col-md-4 text-end">
						<button type="submit" class="btn btn-primary">Filter</button>
					</div>
				</form>
			</div>

			<div class="col-md-3">
				<form asp-controller="Home" asp-action="FilterTvsByScreenType" method="get" class="form-row d-flex align-items-center">
					<div class="form-group col-md-8">
						<select for="screenType" name="screenType" asp-items="Html.GetEnumSelectList<_146247148111.TVApp.Core.ScreenType>()" class="form-control">
							<option value="" hidden>Filter By Screen Type</option>
						</select>
					</div>
					<div class="form-group col-md-4 text-end">
						<button type="submit" class="btn btn-primary">Filter</button>
					</div>
				</form>
			</div>

		</div>

		<div class="row">
			<div class="col-md-12">


				<table class="table table-bordered table-striped">
					<thead class="thead-dark">
						<tr>
							<th>@Html.DisplayNameFor(model => model.ID)</th>
							<th>@Html.DisplayNameFor(model => model.Name)</th>
							<th>Producer Name</th>
							<th>@Html.DisplayNameFor(model => model.ScreenSize)</th>
							<th>@Html.DisplayNameFor(model => model.Screen)</th>
							<th>Actions</th>
						</tr>
						</>
					<tbody>
							@foreach (var item in Model)
							{
							<tr>
								<td>@Html.DisplayFor(modelItem => item.ID)</td>
								<td>@Html.DisplayFor(modelItem => item.Name)</td>
								<td>@Html.DisplayFor(modelItem => item.Producer.Name)</td>
								<td>@Html.DisplayFor(modelItem => item.ScreenSize)</td>
								<td>@Html.DisplayFor(modelItem => item.Screen)</td>
								<td>
										@Html.ActionLink("Edit", "UpdateTV", new { id = item.ID }, new { @class = "btn btn-primary btn-sm" }) |
										@Html.ActionLink("Delete", "DeleteTV", new { id = item.ID }, new { @class = "btn btn-danger btn-sm", onclick = "return confirm('Are you sure you want to delete this TV?');" })
								</td>
							</tr>
							}
					</tbody>
				</table>
			</div>
		</div>

	</div>

</body>
</html>
